@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-surface: #141414;
  --color-text-primary: #ffffff;
  --color-text-secondary: #d1d5db;
  --color-accent: #d2e87a;

  --font-body: "Inter", sans-serif;
  --font-display: "Anton", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-secondary);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-surface);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-accent);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}